@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:#60A5FA;
    --light-gray:#6B7280;
    --off-white:#E5E7EB;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

hr{
    margin: 2rem 0rem;  
  }

/* container */
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 500px;
    padding: 0rem 1rem;
    margin: auto;
}

/* links */
.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-secondary{
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-active{
    font-weight: bold;
}

/* lists */
.list-non-bullet{
    list-style: none;
}

.list-inline{
    padding: 0rem 1rem 0rem 0rem;
    display: inline;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding:1rem 1rem;
    color: white;
}

.navigation .nav-brand{
    font-size: large;
    font-weight: bold;
}

.navigation .nav-links{
    text-align: right;
}

.nav-links a{
    padding: 0;
    color: white;
}

/* heading */
.profile{
    padding-top: 1rem;
}
.profile .profile-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.profile .profile-heading{
    color: var(--light-gray);
    text-align: center;
    padding-top: 1rem;
}

.profile .profile-heading .profile-profession{
    color: var(--primary-color);
}

/* section */
.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.section p{
    text-align: center;
}

.off-white{
    background-color: var(--off-white);
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 1rem 0;
    color: white;
    border-top-right-radius: 1rem;
}
.footer-header{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.footer .social-links{
    text-align: center;
}
.footer a{
    padding: 0;
    color: white;
}

/* .footer ul{
    padding-inline-start: 0rem;
} */